[submodule "mercado-ms"]
	path = mercado-ms
	url = git@github.com:LuizMVB/mercado-ms.git
[submodule "produto-ms"]
	path = produto-ms
	url = git@github.com:LuizMVB/produto-ms.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:LuizMVB/gateway.git
[submodule "servidor"]
	path = servidor
	url = git@github.com:LuizMVB/servidor.git
[submodule "pagamento-ms"]
	path = pagamento-ms
	url = git@github.com:LuizMVB/pagamento-ms.git
[submodule "pedido-ms"]
	path = pedido-ms
	url = git@github.com:LuizMVB/pedido-ms.git
